<div class="card-container">
  <div class="content">
  Това е аудиокнига, която записвам в свободното си време.
  Разделена е на кратки серии по 10 минути всяка.
  Разказва историята на &quot;Прокълнатите крале&quot;
  от Морис Дрюон.
  Своего рода е оригиналът на &quot;Игра на тронове&quot;, но се различава
    по това, че е историческа истина.
  За разлика от типичния исторически роман тази поредица показва хората
    точно, каквито са и сега. Основно се интересуват от ядене, пиене -
    тези три неща и възможността да ги задоволяват безкраино.
    Поредицата обхваща периода от осъждането на тамплиерите през 1314 г. до битката при Поатие през 1356г.
<div class="chapter-holder">
  <div class="chapter">
  <span>
    Първа серия:
  </span>
    <div class="facebook-responsive">
      <iframe
        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fgeorgi.naumov.3%2Fvideos%2F10222529545484008%2F&show_text=true&width=560"
        width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowFullScreen="true"></iframe>
    </div>
  </div>
</div>

<div class="chapter-holder">
  <div class="chapter">
  <span>
    Втора серия:
  </span>
    <div class="facebook-responsive">
      <iframe
        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fgeorgi.naumov.3%2Fvideos%2F10222529547164050%2F&show_text=true&width=560"
        width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowFullScreen="true"></iframe>
    </div>
  </div>
</div>

<div class="chapter-holder">
  <div class="chapter">
  <span>
    Трета серия:
  </span>
    <div class="facebook-responsive">
      <iframe
        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fgeorgi.naumov.3%2Fvideos%2F10222529611525659%2F&show_text=true&width=560"
        width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowFullScreen="true"></iframe>
    </div>
  </div>
</div>
</div>
</div>
